:root {
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  // font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --nav-height: 60px;
  --footer-height: 45px;
  --content-width: 1280px;
}
@media (max-width: 1280px) {
  :root {
    --content-width: 960px;
    --carousel-book-image-height: 170px;
    --card-book-image-height: 150px;
  }
}
@media (max-width: 960px) {
  :root {
    --content-width: 100%;
  }
}
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
html,body{
  padding: 0;
  margin: 0;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #888 #f1f1f1;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  // min-width: 320px;
  // height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
// button:focus,
// button:focus-visible {
//   // outline: 4px auto -webkit-focus-ring-color;
// }
.card {
  padding: 2em;
}

.m-l-r-6 {
  margin: 0 6px;
}

.m-b-15 {
  margin-bottom: 15px;
}
.p-lr-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.p-tb-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-20 {
  padding: 20px;
}
.p-10 {
  padding: 10px;
}
.m-b-40 {
  margin-top: 40px;
}
.m-b-30 {
  margin-bottom: 30px;
}
.m-b-20 {
  margin-bottom: 20px;
}
.m-b-15 {
  margin-bottom: 15px;
}
.m-b-10 {
  margin-bottom: 10px;
}
.m-b-5 {
  margin-bottom: 5px;
}
.m-r-10 {
  margin-right: 10px;
}
.m-r-5 {
  margin-right: 5px;
}
.m-l-r-20 {
  margin-left: 20px;
  margin-right: 20px;
}
.m-l-r-6 {
  margin-left: 6px;
  margin-right: 6px;
}
.m-t-30 {
  margin-top: 30px;
}
.m-t-b-10 {
  margin-top: 10px;
  margin-bottom: 10px;
}
.m-t-b-5 {
  margin-top: 5px;
  margin-bottom: 5px;
}
.p-t-b-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}
.p-t-b-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}
.p-l-r-20 {
  padding-left: 20px;
  padding-right: 20px;
}
.p-l-r-10 {
  padding-left: 10px;
  padding-right: 10px;
}
.p-l-r-5 {
  padding-left: 5px;
  padding-right: 5px;
}
.c-165DFF {
  color: #165dff;
}
.c-001df8 {
  color: #001df8;
}
.c-165dffI {
  color: #165dff !important;
}
.c-64748b {
  color: #64748b;
}
.c-475569 {
  color: #475569;
}
.c-dc2626 {
  color: #dc2626;
}
.c-059669 {
  color: #059669;
}
.c-0891b2 {
  color: #0891b2;
}
.c-555 {
  color: #555;
}
.c-333 {
  color: #333;
}
.c-000 {
  color: #000;
}
.f-s-24 {
  font-size: 24px;
}
.f-s-20 {
  font-size: 20px;
}
.f-s-18 {
  font-size: 18px;
}
.f-s-16 {
  font-size: 16px;
}
.f-s-14 {
  font-size: 14px;
}
.f-s-12 {
  font-size: 12px;
}
.f-w-700 {
  font-weight: 700;
}
.letter-spacing-2 {
  letter-spacing: 2px;
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.text-indent-2em {
  text-indent: 2em;
}
.l-h-24 {
  line-height: 24px;
}
.l-h-1_5 {
  line-height: 1.5;
}
.l-h-2{
  line-height: 2;
}
.bg-c-10b9811a {
  background-color: #10b9811a;
}
.bg-c-f8fafc {
  background-color: #f8fafccc;
}
.b-solid-2 {
  border: 2px solid rgba(226, 232, 240, 0.8);
}

.b-r-10 {
  border-radius: 10px;
}
.b-solid-1 {
  border: 1px solid #10b981;
}
.c-pointer {
  cursor: pointer;
}

.ul-style-inside {
  list-style-position: inside;
}
.table_style {
  &.el-table {
    border-radius: 8px;
    box-shadow: 0 0 1px 0px rgb(0, 0, 0, 0.3);
    thead th {
      background-color: #ecf2f7 !important;
      color: #333;
    }
  }
}

// 弹窗自定义
.custom-modal-style {
  backdrop-filter: blur(5px);
}
.custom-dialog-style {
  --el-dialog-padding-primary: 0px !important;
  border-radius: 12px !important;
  overflow: hidden;
  box-shadow: 0 0 4px 0px rgba(0, 0, 0, 0.2) !important;
  .el-dialog__header {
    --close-width: 48px;
    height: var(--close-width) !important;
    padding: 10px var(--close-width) 10px 14px !important;
    box-sizing: border-box;
    background-image: linear-gradient(135deg, #f8fafc 0%, #f1f5f9 100%);
    border-bottom: 2px solid rgba(226, 232, 240, 0.8);
    display: flex;
    align-items: center;
    .el-dialog__headerbtn {
      --el-message-close-size: 24px;
      font-weight: bolder;
    }
  }
  .el-dialog__body {
    padding: 20px !important;
  }
  .el-dialog__footer {
    padding: 15px !important;
    border-top: 2px solid rgba(226, 232, 240, 0.6);
  }
}
.custom-dialog-style-no-footer {
  .el-dialog__footer {
    display: none;
  }
}
// -----------------
