<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.biz.dal.mysql.statistics.StatisticsMapper">

    <select id="applicationSummary" resultType="map">
         SELECT COUNT(*)                    AS total_count,
                SUM(IF(app_type = 1, 1, 0)) AS cert_apply_count,
                SUM(IF(app_type = 2, 1, 0)) AS cert_renew_count,
               SUM(IF(app_type = 3, 1, 0)) AS cert_change_count,
               SUM(IF(app_type = 4, 1, 0)) AS info_change_count
        FROM biz_application
        where deleted = b'0'
        <if test="status != null and status == 1">
            and app_status = 1
        </if>
    </select>
    
    <select id="licenseSummary" resultType="map">
        select count(*) as total_count,
               SUM(IF(license_device_name = 'X线正电子发射断层扫描仪', 1, 0)) as 'X'
        FROM biz_application;
    </select>

    <select id="equipmentSummary" resultType="map">
        SELECT
        IFNULL(SUM(IF(license_device_name = 'X线正电子发射断层扫描仪', 1, 0)), 0) AS petCtScanner,
        IFNULL(SUM(IF(license_device_name = '伽玛射线立体定向放射治疗系统', 1, 0)), 0) AS gammaRayStereotacticRtSystem,
        IFNULL(SUM(IF(license_device_name = '直线加速器', 1, 0)), 0) AS linearAccelerator,
        IFNULL(SUM(IF(license_device_name = '内窥镜手术器械控制系统', 1, 0)), 0) AS endoscopicSurgicalSystem,
        IFNULL(SUM(IF(license_device_name = '1.5T及以上磁共振成像系统', 1, 0)), 0) AS mriSystem1_5tPlus,
        IFNULL(SUM(IF(license_device_name = '64排及以上X线计算机断层扫描仪', 1, 0)), 0) AS ctScanner64SlicePlus,
        IFNULL(SUM(IF(license_device_name = '首次配置的大型医疗器械', 1, 0)), 0) AS firstTimeLargeMedicalDevice,
        IFNULL(SUM(IF(license_device_name = '高端放射治疗类设备', 1, 0)), 0) AS highEndRtEquipment,
        IFNULL(SUM(IF(license_device_name = '重离子质子放射治疗系统', 1, 0)), 0) AS heavyIonProtonRtSystem
        FROM biz_class_a_equipment
        WHERE deleted = b'0'
        <if test="year != null and year != ''">
            AND YEAR(create_time) = #{year, jdbcType=VARCHAR}
        </if>
    </select>
</mapper>