<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.biz.dal.mysql.statistics.StatisticsMapper">

    <select id="applicationSummary" resultType="map">
         SELECT COUNT(*)                    AS total_count,
                SUM(IF(app_type = 1, 1, 0)) AS cert_apply_count,
                SUM(IF(app_type = 2, 1, 0)) AS cert_renew_count,
               SUM(IF(app_type = 3, 1, 0)) AS cert_change_count,
               SUM(IF(app_type = 4, 1, 0)) AS info_change_count
        FROM biz_application
        where deleted = b'0'
        <if test="status != null and status == 1">
            and app_status = 1
        </if>
    </select>
    
    <select id="licenseSummary" resultType="map">
        select count(*) as total_count,
               SUM(IF(license_device_name = 'X线正电子发射断层扫描仪', 1, 0)) as 'X'
        FROM biz_application;
    </select>

    <select id="equipmentSummary" resultType="java.util.Map">
        WITH expected_devices AS (
            SELECT '重离子质子放射治疗系统' AS license_device_name, '甲类' AS type_name UNION ALL
            SELECT '高端放射治疗类设备', '甲类' UNION ALL
            SELECT '首次配置的大型医疗器械', '甲类' UNION ALL
            SELECT '64排及以上X线计算机断层扫描仪', '乙类' UNION ALL
            SELECT '1.5T及以上磁共振成像系统', '乙类' UNION ALL
            SELECT '内窥镜手术器械控制系统', '乙类' UNION ALL
            SELECT '直线加速器', '乙类' UNION ALL
            SELECT '伽玛射线立体定向放射治疗系统', '乙类' UNION ALL
            SELECT 'X线正电子发射断层扫描仪', '乙类'
        )
        SELECT
            ed.license_device_name,
            COALESCE(COUNT(b.id), 0) AS count,
            ed.type_name
        FROM expected_devices ed
        LEFT JOIN biz_class_a_equipment b ON ed.license_device_name = b.license_device_name AND b.deleted = 0
        <where>
            <if test="year != null">
                AND create_time >= DATE_FORMAT(#{year}, '%Y-01-01')
                AND create_time &lt; DATE_ADD(DATE_FORMAT(#{year}, '%Y-01-01'), INTERVAL 1 YEAR)
            </if>
        </where>
        GROUP BY ed.license_device_name, ed.type_name
        ORDER BY ed.type_name, ed.license_device_name
    </select>
</mapper>