<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.iocoder.yudao.module.biz.dal.mysql.license.LicenseMapper">
    <update id="updateOriginalLicense">
        UPDATE biz_license_original
        <set>
            <if test="vo.licenseNo != null and vo.licenseNo != ''">license_no = #{vo.licenseNo},</if>
            <if test="vo.configUnitName != null and vo.configUnitName != ''">config_unit_name = #{vo.configUnitName},</if>
            <if test="vo.ownershipNature != null and vo.ownershipNature != ''">ownership_nature = #{vo.ownershipNature},</if>
            <if test="vo.issuingAuthority != null and vo.issuingAuthority != ''">issuing_authority = #{vo.issuingAuthority},</if>
            <if test="vo.unifiedSocialCreditCode != null and vo.unifiedSocialCreditCode != ''">unified_social_credit_code = #{vo.unifiedSocialCreditCode},</if>
            <if test="vo.ladderConfigModel != null and vo.ladderConfigModel != ''">ladder_config_model = #{vo.ladderConfigModel},</if>
            <if test="vo.issueDate != null">issue_date = #{vo.issueDate},</if>
            <if test="vo.legalPerson != null and vo.legalPerson != ''">legal_person = #{vo.legalPerson},</if>
            <if test="vo.equipmentConfigAddress != null and vo.equipmentConfigAddress != ''">equipment_config_address = #{vo.equipmentConfigAddress},</if>
            <if test="vo.licenseDeviceName != null and vo.licenseDeviceName != ''">license_device_name = #{vo.licenseDeviceName},</if>
            <if test="vo.detailedAddress != null and vo.detailedAddress != ''">detailed_address = #{vo.detailedAddress},</if>
        </set>
        WHERE id = #{id}
    </update>

    <update id="updateDuplicateLicense">
        UPDATE biz_license_duplicate
        <set>
            <if test="vo.productionEnterprise != null and vo.productionEnterprise != ''">production_enterprise = #{vo.productionEnterprise},</if>
            <if test="vo.infoSubmitDate != null">info_submit_date = #{vo.infoSubmitDate},</if>
            <if test="vo.specificModel != null and vo.specificModel != ''">specific_model = #{vo.specificModel},</if>
            <if test="vo.duplicateIssuingAuthority != null and vo.duplicateIssuingAuthority != ''">duplicate_issuing_authority = #{vo.duplicateIssuingAuthority},</if>
            <if test="vo.productSerialNo != null and vo.productSerialNo != ''">product_serial_no = #{vo.productSerialNo},</if>
            <if test="vo.duplicateIssueDate != null">duplicate_issue_date = #{vo.duplicateIssueDate},</if>
            <if test="vo.installationDate != null">installation_date = #{vo.installationDate},</if>
            <if test="vo.originalPosition != null and vo.originalPosition != ''">original_position = #{vo.originalPosition},</if>
            <if test="vo.remark != null and vo.remark != ''">remark = #{vo.remark}</if>
        </set>
        WHERE id = #{vo.id}
    </update>


    <select id="page" resultType="cn.iocoder.yudao.module.biz.controller.admin.license.vo.LicensePageVO">
        SELECT
            c.id as app_id,
            a.id as original_id,
            b.id as duplicate_id,
            a.license_no,
            a.config_unit_name,
            a.license_device_name,
            a.ladder_config_model,
            d.region,
            a.issue_date AS original_issuance_date,
            b.duplicate_issue_date AS duplicate_issue_date,
            c.app_type as license_type,
            b.acceptance_status,
            IF(e.application_id IS NOT NULL, 1, 0) AS is_upload
        from biz_license_original a
                 left join biz_license_duplicate b on a.id = b.original_id AND b.deleted = 0
                 left join biz_application c on a.application_id = c.id
                 left join biz_institution_ext d on c.institution_id = d.dept_id
                 left join biz_acceptance_material e on c.id = e.application_id
        <where>
            a.deleted = 0 and c.deleted = 0
            <if test="p.acceptanceStatus == '0' || p.acceptanceStatus == 0">
                and a.application_id in (SELECT DISTINCT application_id FROM biz_acceptance_material where status = '待审核')
            </if>
            <if test="p.licenseType != null and p.licenseType != ''">
                and c.app_type = #{p.licenseType}
            </if>
            <if test="p.deviceType != null and p.deviceType != ''">
                and a.license_device_name = #{p.deviceType}
            </if>
            <if test="p.ladderConfigModel != null and p.ladderConfigModel != ''">
                and a.ladder_config_model = #{p.ladderConfigModel}
            </if>
            <if test="p.region != null and p.region != ''">
                and d.region = #{p.region}
            </if>
            <if test="p.keywords != null and p.keywords != ''">
                and (
                    a.license_no like concat('%', #{p.keywords}, '%') or
                    a.config_unit_name like concat('%', #{p.keywords}, '%') or
                    a.license_device_name like concat('%', #{p.keywords}, '%')
                )
            </if>
        </where>
        GROUP BY a.id, a.create_time
        order by a.create_time desc

    </select>


    <select id="getOriginalById" resultType="cn.iocoder.yudao.module.biz.controller.admin.license.vo.OriginalLicenseVO">
        SELECT
            config_unit_name,
            unified_social_credit_code,
            legal_person,
            a.license_device_name,
            ownership_nature,
            a.ladder_config_model,
            equipment_config_address,
            detailed_address,
            issuing_authority,
            issue_date,
            a.license_no,
            b.institution_id
        from biz_license_original a
        left join biz_application b on a.application_id = b.id
        where a.id = #{id}
    </select>

    <resultMap id="map2" type="cn.iocoder.yudao.module.biz.controller.admin.license.vo.DuplicateLicenseVO">
        <result property="equipmentUsers" column="equipment_users" typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <select id="getDuplicateById" resultMap="map2">
        SELECT
            a.production_enterprise,
            a.specific_model,
            product_serial_no,
            a.installation_date,
            info_submit_date,
            duplicate_issuing_authority,
            duplicate_issue_date,
            remark,
            b.purchase_price,
            b.equipment_users,
            b.special_description,
            a.original_position,
            equipment_id,
            a.extra
        FROM
            biz_license_duplicate a
        left join biz_class_a_equipment b on a.equipment_id = b.id
        where a.id = #{id}
    </select>
    <select id="licensePage"
            resultType="cn.iocoder.yudao.module.biz.controller.app.license.vo.AppLicensePageRespVO">
        select d.id as application_id,
        a.id as original_id,
        b.id as duplicate_id,
        a.license_no,
        a.issue_date,
        a.license_device_name,
        a.ladder_config_model,
        a.equipment_config_address,
        c.production_enterprise,
        c.specific_model,
        c.installation_date,
        d.app_type,
        b.equipment_id,
        IF(b.id IS NOT NULL, 'Y', 'N') AS has_duplicate,
        IF(b.acceptance_status = 1, 'Y', 'N') AS has_acceptance_material
        from biz_license_original a
        left join biz_license_duplicate b on a.id = b.original_id
        left join biz_application d on d.id = a.application_id
        left join biz_class_a_equipment c on d.equipment_id = c.id
        <where>
            and (d.creator = #{userId} or d.institution_id =#{deptId}) and d.app_status = 5 and a.deleted = 0 and b.deleted = 0 and c.deleted = 0
            <if test="type != null and type != ''">
                and a.license_device_name = #{type}
            </if>
        </where>
        order by a.create_time desc
    </select>

    <insert id="insertDuplicateLicense"
            parameterType="cn.iocoder.yudao.module.biz.controller.app.license.vo.AppDuplicateSubmitRequest"
            useGeneratedKeys="true"
            keyProperty="vo.id"
           >
        INSERT INTO biz_license_duplicate (
            original_id,
            production_enterprise,
            info_submit_date,
            specific_model,
            duplicate_issuing_authority,
            product_serial_no,
            duplicate_issue_date,
            installation_date,
            acceptance_status,
            remark,
            status,
            creator,
            original_position
        ) VALUES (
                        #{vo.originalId},
                        #{vo.productionEnterprise},
                        #{vo.infoSubmitDate},
                        #{vo.specificModel},
                        #{vo.duplicateIssuingAuthority},
                        #{vo.productSerialNo},
                        #{vo.duplicateIssueDate},
                        #{vo.installationDate},
                        0,
                        #{vo.remark},
                        1,
                        #{creator},
                        #{vo.originalPosition}

                 )
    </insert>
    <insert id="insertOriginalLicense" parameterType="cn.iocoder.yudao.module.biz.controller.admin.license.vo.OriginalLicenseVO"
    useGeneratedKeys="true" keyProperty="vo.id">
        INSERT INTO biz_license_original (
            application_id,
            license_no,
            config_unit_name,
            ownership_nature,
            issuing_authority,
            unified_social_credit_code,
            ladder_config_model,
            issue_date,
            legal_person,
            equipment_config_address,
            license_device_name,
            detailed_address,
            valid_date,
            status,
            creator
        ) VALUES (
                  #{appId},
                     #{vo.licenseNo},
                     #{vo.configUnitName},
                     #{vo.ownershipNature},
                     #{vo.issuingAuthority},
                     #{vo.unifiedSocialCreditCode},
                     #{vo.ladderConfigModel},
                     #{vo.issueDate},
                     #{vo.legalPerson},
                     #{vo.equipmentConfigAddress},
                     #{vo.licenseDeviceName},
                     #{vo.detailedAddress},
                     #{validDate},
                     #{vo.status},
                     #{creator}
                 )
    </insert>
</mapper>